Interfaces/Latest from Accela_Anjan/Elavon_Adaptor/Elavon_Adaptor/Service References/TPEWebService/ServiceWeb_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Payment.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Payment.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="STATECD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HASHVALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AMOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIQUETRANSID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCALREFID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MERCHANTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MERCHANTKEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HREFSUCCESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HREFFAILURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HREFDUPLICATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HREFCANCEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERATTRIBUTES" nillable="true" type="tns:ArrayOfFIELD" />
      <xs:element minOccurs="0" name="LINEITEMS" nillable="true" type="tns:ArrayOfLINEITEM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInfo" nillable="true" type="tns:PaymentInfo" />
  <xs:complexType name="ArrayOfFIELD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FIELD" nillable="true" type="tns:FIELD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFIELD" nillable="true" type="tns:ArrayOfFIELD" />
  <xs:complexType name="FIELD">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIELDNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIELDVALUE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FIELD" nillable="true" type="tns:FIELD" />
  <xs:complexType name="ArrayOfLINEITEM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LINEITEM" nillable="true" type="tns:LINEITEM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLINEITEM" nillable="true" type="tns:ArrayOfLINEITEM" />
  <xs:complexType name="LINEITEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ITEM_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIT_PRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="QUANTITY" type="xs:decimal" />
      <xs:element minOccurs="0" name="ATTRIBUTES" nillable="true" type="tns:ArrayOfFIELD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LINEITEM" nillable="true" type="tns:LINEITEM" />
  <xs:complexType name="PreparePaymentResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" type="xs:int" />
      <xs:element minOccurs="0" name="ERRORMESSAGE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreparePaymentResult" nillable="true" type="tns:PreparePaymentResult" />
  <xs:complexType name="PaymentResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST4NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTALAMOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIPTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIPTTIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERID" type="xs:decimal" />
      <xs:element minOccurs="0" name="AUTHCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAILMESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCALREFID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AVSResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVVResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAILCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentResult" nillable="true" type="tns:PaymentResult" />
</xs:schema>