Interfaces/Latest from Accela_Anjan/Elavon_Adaptor/Elavon_Adaptor/Service References/TPEWebService/ServiceWeb_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://common.checkout.cdc.nicusa.com/" elementFormDefault="qualified" targetNamespace="https://common.checkout.cdc.nicusa.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CCPWebService/ServiceWeb_2.xsd" namespace="http://schemas.datacontract.org/2004/07/Common.Payment.Common" />
  <xs:element name="PreparePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Payment.Common" minOccurs="0" name="request" nillable="true" type="q1:PaymentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Payment.Common" minOccurs="0" name="PreparePaymentResult" nillable="true" type="q2:PreparePaymentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.Payment.Common" minOccurs="0" name="QueryPaymentResult" nillable="true" type="q3:PaymentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>