Interfaces/Latest from Accela_Anjan/Elavon_Adaptor/Elavon_Adaptor/Service References/TPEWebService/ServiceWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="https://common.checkout.cdc.nicusa.com" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="https://common.checkout.cdc.nicusa.com" name="ServiceWeb" targetNamespace="https://common.checkout.cdc.nicusa.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://common.checkout.cdc.nicusa.com/Imports">
      <xsd:import schemaLocation="https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CCPWebService/ServiceWeb_0.xsd" namespace="https://common.checkout.cdc.nicusa.com" />
      <xsd:import schemaLocation="https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CCPWebService/ServiceWeb_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CCPWebService/ServiceWeb_2.xsd" namespace="http://schemas.datacontract.org/2004/07/Common.Payment.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWeb_PreparePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:PreparePayment" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_PreparePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreparePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_QueryPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryPayment" />
  </wsdl:message>
  <wsdl:message name="IServiceWeb_QueryPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWeb">
    <wsdl:operation name="PreparePayment">
      <wsdl:input wsaw:Action="https://common.checkout.cdc.nicusa.com/IServiceWeb/PreparePayment" message="tns:IServiceWeb_PreparePayment_InputMessage" />
      <wsdl:output wsaw:Action="https://common.checkout.cdc.nicusa.com/IServiceWeb/PreparePaymentResponse" message="tns:IServiceWeb_PreparePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryPayment">
      <wsdl:input wsaw:Action="https://common.checkout.cdc.nicusa.com/IServiceWeb/QueryPayment" message="tns:IServiceWeb_QueryPayment_InputMessage" />
      <wsdl:output wsaw:Action="https://common.checkout.cdc.nicusa.com/IServiceWeb/QueryPaymentResponse" message="tns:IServiceWeb_QueryPayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWeb" type="tns:IServiceWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PreparePayment">
      <soap:operation soapAction="https://common.checkout.cdc.nicusa.com/IServiceWeb/PreparePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPayment">
      <soap:operation soapAction="https://common.checkout.cdc.nicusa.com/IServiceWeb/QueryPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWeb">
    <wsdl:port name="BasicHttpBinding_IServiceWeb" binding="tns:BasicHttpBinding_IServiceWeb">
      <soap:address location="https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CCPWebService/ServiceWeb.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>